:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0px;
  margin-bottom: 0px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  color: var(--primery-text-color);
  font-family: Roboto, sant-serif;
}

.header {
  border-bottom: 1px solid #ececec;
}

.logo {
  color: var(--title-text-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-part {
  color: var(--accent-color);
}

.main-nav {
  display: flex;
  align-items: center;
}

/* site nav */
.site-nav {
  margin-left: 93px;
  display: flex;
  position: relative;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.item {
  top: 0px;
}

.site-nav .link {
  color: var(--title-text-color);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.link {
  display: block;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 31px;
  padding-bottom: 31px;
}

.link-stydio::after {
  content: '';
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 48px;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
}

.link-portfolio::after {
  content: '';
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 47%;
  transform: translate(-50%);
  width: 78px;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
}

/* ----------LIST NAV------- */
.link-nav {
  display: flex;
  align-items: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-nav:hover,
.link-nav:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
  cursor: pointer;
}

.list-contacts {
  display: flex;
  margin-left: auto;
}

.list-contacts .item:not(:last-child) {
  margin-right: 50px;
}

.nav-icon {
  fill: currentColor;
  margin-right: 10px;
}

.link-nav {
  color: var(--primery-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.hero {
  max-width: 1600px;
  height: 600px;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
  background-color: gray;
}

.hero-text {
  color: #ffffff;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  max-width: 696px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
}

.section-benefits {
  padding-top: 94px;
}

.list-benefits {
  display: flex;
  justify-content: space-between;
}

.list-benefits .item {
  width: 270px;
}

.picture {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-title-small {
  color: var(--title-text-color);
  margin-bottom: 10px;
  margin-top: 0px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.section-text {
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.list-craft {
  display: flex;
  justify-content: space-between;
}

.craft-img-box {
  position: relative;
}

.craft-img {
  display: block;
}

.craft-box-text {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.craft-img-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.team {
  background-color: #f5f4fa;
}

.item-team {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.wrapper {
  border: 1px solid #eeeeee;
  border-top: none;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}

.list-team {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.section-name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.section-position {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-top: 10px;
  margin-bottom: 16px;
}

.list-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.command-socials-list {
  display: flex;
  justify-content: center;
}

.command-socials-item {
  width: 44px;
  height: 44px;
}

.command-socials-item + .command-socials-item {
  margin-left: 10px;
}

.command-socials-link {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.command-socials-link:hover,
.command-socials-link:focus {
  background-color: var(--accent-color);
  color: #ffffff;
  cursor: pointer;
}

.command-socials-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.client {
  display: flex;
}

.client-list:not(:last-child) {
  margin-right: 30px;
}

.client-list {
  display: flex;
}

.client-icon {
  width: 170px;
  height: 92px;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-icon:hover,
.client-icon:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
  cursor: pointer;
}

.section-title {
  color: var(--title-text-color);
  margin-bottom: 50px;
  margin-top: 0px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

button {
  display: inline-block;
  border: 1px transparent;
  font-family: inherit;
  border-radius: 4px;
}

.button-hero {
  background-color: var(--accent-color);
  color: #e5e5e5;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 32px;
}

.button-item:hover,
.button-item:focus {
  background-color: var(--accent-color);
  color: #e5e5e5;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-item {
  background-color: #f5f4fa;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-button {
  display: flex;
  padding-bottom: 50px;
  justify-content: center;
}

.btn-item:not(:last-child) {
  margin-right: 8px;
}

.text-portfolio {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.flex-container > .list-gallery {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.img-portfolio-box {
  position: relative;
  overflow: hidden;
}

.mobile-text {
  position: absolute;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.img-portfolio {
  display: block;
}

.mobile-box-text {
  position: absolute;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
}

.pic:hover .mobile-box-text {
  transform: translateY(0%);
}

.pic:focus .mobile-box-text {
  transform: translateY(0%);
}

.pic:hover,
.pic:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.pic {
  display: block;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
}

.holder {
  border: 1px solid #eeeeee;
  border-top: none;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.list-footer:hover,
.list-footer:focus {
  color: var(--accent-color);
}

.list-footer {
  color: #ffffff;
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-footer-nav:hover,
.list-footer-nav:focus {
  color: var(--accent-color);
}

.list-footer-nav {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-footer {
  margin-top: 20px;
  margin-bottom: 9px;
}

.item-footer-nav {
  margin-bottom: 9px;
}

.logo .logo-footer {
  color: #ffffff;
}

.title-footer {
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.footer-socials-list {
  display: flex;
}

.footer-socials-item {
  width: 44px;
  height: 44px;
}

.footer-socials-item + .footer-socials-item {
  margin-left: 10px;
}

.footer-socials-link {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials-link:hover,
.footer-socials-link:focus {
  background-color: var(--accent-color);
}

.footer-socials-icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.footer-box-big {
  display: flex;
  justify-content: space-between;
}

.footer-box-icon {
  margin-top: 10px;
  margin-left: 85px;
}

.footer-box-button {
  margin-top: 10px;
  margin-left: 93px;
}

.button-footer {
  align-items: center;
  display: inline-flex;
  background-color: var(--accent-color);
  color: #e5e5e5;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 29px;
}

.footer-airplane {
  width: 24px;
  height: 24px;
  fill: #ffffff;
  margin-left: 10px;
}

.footer-fild {
  width: 350px;
  height: 50px;
  margin-right: 12px;
  background-color: #2f303a;
  color: #ffffff;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(47, 48, 58, 0.4);
  opacity: 1;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #ffffff;
  width: 528px;
  height: 581px;
  border-radius: 4px;
  padding: 40px;
}

.button-modal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 8px;
  right: 8px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.button-modal-icon {
  width: 11px;
  height: 11px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal:focus,
.button-modal:hover {
  fill: var(--accent-color);
}

.modal-title {
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-wrap {
  position: relative;
  display: block;
  margin-top: 4px;
}

.row {
  outline: none;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  display: block;
  padding-left: 40px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.row:focus {
  border: 1px solid var(--accent-color);
}

.row:focus + .modal-icon {
  fill: var(--accent-color);
}

.modal-icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea {
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  padding: 12px 16px;
}

.textarea::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.checkbox {
  margin: 0;
  padding: 0;
  width: 16px;
  height: 15px;
  margin-right: 8px;
}

.check-text {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}

.check-item {
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-icon {
  fill: #ffffff;
}

.checkbox:checked + .check-text .check-item {
  background-color: var(--accent-color);
  border: none;
}

.check-link {
  color: var(--accent-color);
  margin-left: 3px;
}

.button-modal-big {
  background-color: var(--accent-color);
  color: #e5e5e5;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 55px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}
/*# sourceMappingURL=main.css.map */